Package: com.yourshop.regioncachekeeper
Name: RegionCacheKeeper
Version: 1.0.0-1
Architecture: iphoneos-arm64
Description: SK1 商品请求国区 storefront 注入 + 店面读取诊断，安装即生效
Maintainer: you
Author: you
Section: Utilities
Depends: mobilesubstrate
